#schedule {
  .pure-table {
    border: none;
  }
  thead, tfoot {
    background-color: #4B4848;
    text-align: center;
    color: #fff;
  }
  td, th {
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: top;
    font-weight: normal;
  }
  td.center {
    text-align: center;
  }
  td.right {
    text-align: right;   
  }
  td.border {
    border-bottom: 1px solid #A6A6A6;
  }
  td.nonborder {
    border-bottom: none; 
  }
  td.time {
    background-color: #EAEAEA;
  }
  tr.sub {
    background-color: #ccc;
  }
  tr.main-title td {
    border-bottom: 0;
  }
  tr.main-content{
    background-color: #F4F4F4;
    td {
      padding: 0;  
    }
    .one, .two {
      padding: 15px;
    }    
  }
  td.content {
    padding: 0;
    .author {
      float: right;
      width: 100px;
      height: 100%;
      padding: 15px 10px;
    }
  }
  .one, .two {
    height: 100%;
    h4 {
      padding: 15px;
      color: #fff;
      font-weight: normal;
      height: 100%;
      margin-right: 100px;
    }
  }
  .one {
    h4 {
      background-color: #247FA4;
    }
    .author {
      background-color: rgba(129, 143, 166, 0.75);
    }
  }
  .two {
    h4 {
      background-color: #AF3B54;
    }
    .author {
      background-color: rgba(222, 113, 120, 0.75);
    }
  }
}