#prospect {
  article {
    padding-bottom: 10px;
    position: relative;
    .carousel {
      position: relative;
      float: right;
      width: 300px;
      margin: 0 25px 15px;
      padding-bottom: 24px;
      img {
        width: 100%;
      }
      .carousel-btn {
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-left: -22px;
        ul {
          list-style: none;
        }
        li {
          display: inline-block;
        }
        li:before {
          content: "";
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 100%;
          background-color: rgba(255,255,255,0.2);
        }
        li + li {
          margin-left: 10px;
        }
        li.active:before {
          background-color: rgba(255,255,255,0.7);
        }
      }
    }
    .carousel:before {
      content: "";
      position: absolute;
      display: block;
      background-color: rgba(59, 84, 123, 0.29);
      width: 300px;
      height: 148px;
    }
    .post {
      padding: 0 25px 15px;
      height: 250px;
      overflow: hidden;
    }
    .more-btn {
      margin-left: 25px;
      position: absolute;
      bottom: -30px;
    }
  }
  @media (max-width: 768px) {
    article {
      .carousel {
        float: none;
        width: 100%;
        height: auto;
        margin: 0 0 25px;
      }
      .post {
        padding-left: 0;
        padding-right: 0;
      }
      .more-btn {
        display: block;
        bottom: -30px;
        right: 10px;
      }
    }
  }
}
