#speakers {
}

#speakers h4 {
  margin-bottom: 20px;
}

#speakers h5 {
  margin-bottom: 20px;
}

#speakers .speaker {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 800px;
}

#speakers .speaker-info {
  margin-left: 150px;
}

#speakers .speaker-info h4 {
  font-size: 30px;
  margin-bottom: 10px;
}

#speakers .speaker-info h5 {
  color: #666;
}

#speakers .speaker-info p {
  line-height: 22px
}

#speakers .speaker-links {
  margin-top: 20px;
  display: none;
}

#speakers .avatar {
  width: 120px;
  height: 120px;
  float: left;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}