@avatar-blue: rgba(36, 127, 164, 0.34);
@avatar-white: rgba(255, 255, 255, 0.2);

#speakers {
  h4 {
    margin-bottom: 20px;
  }
  .hide {
    display: none;
  }
  .speaker-info {
    text-align: center;
    width: 180px;
    margin: 0 auto;
    h4 {
      font-size: 22px;
      margin: 6px 0 12px;
      border-bottom: 2px solid rgba(77, 77, 77, 0.3);
      border-top: 2px solid rgba(77, 77, 77, 0.3);
      line-height: 1.8;
    }
    h5 {
      color: #247FA4;
      margin-top: 15px;
      font-size: 15px;
    }
    p {
      display: none;
      margin-bottom: 15px;
      font-size: 14px;
      text-align: left;
    }
    h4 + p {
      display: block;
    }
  }
  .speaker-links {
    margin-top: 20px;
    display: none;
  }
  .avatar {
    position: relative;
    width: 180px;
    height: 180px;
    background: #68819B;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin: 0 auto;
    display: block;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .avatar:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0px;
    background: #647393;
    background: -moz-linear-gradient(top,  @avatar-blue 0%, @avatar-white 30%, @avatar-white 72%, @avatar-blue 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@avatar-blue), color-stop(30%,@avatar-white), color-stop(72%,@avatar-white), color-stop(100%,@avatar-blue));
    background: -webkit-linear-gradient(top,  @avatar-blue 0%,@avatar-white 30%,@avatar-white 72%,@avatar-blue 100%);
    background: -o-linear-gradient(top,  @avatar-blue 0%,@avatar-white 30%,@avatar-white 72%,@avatar-blue 100%);
    background: -ms-linear-gradient(top,  @avatar-blue 0%,@avatar-white 30%,@avatar-white 72%,@avatar-blue 100%);
    background: linear-gradient(to bottom,  @avatar-blue 0%,@avatar-white 30%,@avatar-white 72%,@avatar-blue 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@avatar-blue', endColorstr='@avatar-blue',GradientType=0 );
  }
  .speaker {
    height: 390px;
  }
  @media (max-width:767px) {
    h3 + div {
      margin-left: -15px;
      margin-right: -15px;
    }
    .avatar {
      width: 100px;
      height: 100px;
      margin: 0;
      border-radius: 5px;
      margin-bottom: 20px;
    }
    .speaker {
      margin: 30px 0;
      height: auto;
      position: relative;
      border-top: 1px solid #ccc;
      padding: 30px 15px 0px;
    }
    .speaker-info {
      width: 250px;
      margin: 0;
      width: 100%;
      h4 {
        position: absolute;
        font-size: 28px;
        top: 40px;
        left: 130px;
        text-align: left;
        border: 0;
      }
      h5 {
        position: absolute;
        font-size: 16px;
        top: 65px;
        left: 130px;
        margin-top: 25px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}
  