{
  "extends": "eslint-config-airbnb",
  "globals": {
    "$": true,
    "ga": true,
    "console": true
  },
  "rules": {
    "no-console": 0,
    "react/sort-comp": 0,
    "no-nested-ternary": 0
  }
}
