#sponsors {
  .sponsor {
    img {
      max-height: 60px;
      margin: 0 auto;
      display: block;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
    }
    .sponsor-in {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0px 1px 3px rgba(203, 203, 203, 0.25);
      padding: 20px 10px;
      margin: 10px 20px;
      text-align: center;
      height: 150px;
      i {
        color: #F2CF45;
        font-size: 20px;
        padding-right: 5px;
      }
    }
    .sponsor-in:hover {
      img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0); 
      }
    }
    .imfju {
      max-height: initial;
      max-width: 190px;
    }
    .diamond, .gold, .speicial, .cooperant {
      display: inline-block;
      padding-bottom: 3px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
      width: 100%;
    }
  }
  @media (max-width:767px) {
    .sponsor {
      .sponsor-in {
        margin: 10px 0;
      }
    }
  }
}