#venue h4 {
  font-size: 30px;
  margin-bottom: 10px;
}

#venue h5 {
  font-size: 20px;
  margin-bottom: 10px;
}

#venue .venue-info {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

#venue .venue-info h4 {
  margin-bottom: 30px;
}

#venue .venue-text {
  float: left;
  width: 380px;
  margin-right: 20px;
  text-align: left;
}

#venue .venue-text p {
  margin-bottom: 2px;
}

#venue .venue-text p.address {
  margin-top: -10px;
  margin-bottom: 10px;
}
