#about {
  h3 + p {
    text-align: center;
  }
  h4 {
    span.leader {
      padding-left: 8px;
      color: #AF3B54;
    }
  }
  ul {
    list-style: none;
    text-align: center;
    margin-top: 10px;
    li {
      display: inline-block;
      background-color: #F2F2F2;
      padding: 5px 10px;
      border-radius: 5px;
      margin: 3px 1px;
    }
  }
  .speaker {
    margin: 20px 0;
    min-height: 150px;
  }
  .icon {
    font-size: 35px;
    width: 80px;
    height: 80px;
    line-height: 85px;
    border-radius: 100%;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto 15px;
    background-color: rgba(36, 127, 164, 0.68);
  }
  .work {
    text-align: center;
    margin: 0 20px;
  }
  .about-info {
    display: none;
  }
  .facebook-icon {
    background: url('https://www.facebook.com/images/fb_icon_325x325.png');
    background-size: cover;
  }
  @media (max-width:767px) {
    padding-bottom: 50px;
    .speaker {
      margin: 20px 0 50px;
    }
  } 
}