@import (less) '../../node_modules/normalize.css/normalize.css';

* {
  box-sizing: border-box;
}

body, h1, h2, h2, h4, h5, ul, li, div, p {
  margin: 0;
  padding: 0;
}

body {
  font: 16px/18px "微軟正黑體", 'Microsoft Jhenghei', ff-tisa-web-pro, Georgia, Cambria, 'Times New Roman', Times, serif;
  line-height: 22px;
  padding-top: 170px;
  background: #fff;
}

p {
  margin-bottom: 26px;
}

a {
  text-decoration: none;
}

article {
  width: 800px;
  margin: 0 auto;
}

article p {
  line-height: 26px;
}

hr {
  width: 30%;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 0;
  border-top: 1px solid #ccc;
}

h1 {
  font-family: consolas;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

h1 .code {
  color: #ddd;
}

h2 {
  font-size: 26px;
}

h3 {
  padding-top: 50px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 50px;
}

section {
  position: relative;
  padding-top: 150px;
  padding-bottom: 30px;
  min-height: 700px;
}

section:nth-child(odd) {
  background: #EEF5FF;
}
