nav {
  position: fixed;
  z-index: 400;
  top: 0;
  width: 100%;
  background: #fff;
  height: 170px;
  padding-top: 8px;
  opacity: 0.9;
}

nav img {
  height: 100px;
  display: block;
  margin: 0px auto;
  margin-bottom: 30px;
}

nav ul {
  list-style: none;
  display: block;
  text-align: center;
}

nav li {
  display: inline-block;
  padding-right: 20px;
}

nav a {
  color: #000;
  font-weight: bold;
  padding-bottom: 6px;
}

nav a:hover {
  border-bottom: 3px solid #000;
}
