nav {
  width: 100%;
  background: rgba(44, 41, 41, 0.85);
  padding: 20px 0;
  position: fixed;
  top: 0;
  z-index: 400;
  .show {
    // background: rgba(40, 52, 46, 0.9);
  }

  ul {
    list-style: none;
    display: block;
    text-align: center;
  }

  li {
    display: inline-block;
    padding-right: 20px;
  }

  a {
    color: #fcfcfc;
    padding-bottom: 6px;
  }

  a:hover {
    border-bottom: 3px solid #000;
  }
}